@import 'https://fonts.googleapis.com/css?family=Roboto:400,700';

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
}

table {
  width: 100%;
  margin-bottom: 1rem;
  color: #4B4A4B;
  border: 1px solid #000000;
}

table th {
  background-color: #4a0147;;
  color: white;
}

td{
    border: 1px solid #000000;
}

table td,
table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid hsl(209, 67%, 13%);
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

@media (max-width: 575.98px) {
  .table-responsive-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}

@media (max-width: 767.98px) {
  .table-responsive-md {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}

@media (max-width: 991.98px) {
  .table-responsive-lg {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}

@media (max-width: 1199.98px) {
  .table-responsive-xl {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}
